/* Reset preflight */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Body */
body {
  background-image: url('24488452_6927689.jpg');
}

p {
  color: rgb(212, 212, 216);
}

/* Container */
.container {
  margin: 0 auto;
  padding: 3rem 1rem 5rem;
}

/* Header */
header {
  max-width: 768px;
  margin: 0 auto;
}

header figure {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

header figure img {
  width: 12rem;
  border-radius: 50%;
  border: solid 6px #aaaaac;
  padding: 0.25rem;
}

header figure figcaption {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  color: aliceblue;
}

header figure figcaption span:first-child {
  color: aliceblue;
  font-size: 1.8rem;
  font-weight: bold;
}

header figure figcaption span:last-child {
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header section {
  margin-top: 2rem;
}

header section p {
  text-align: justify;
}

/* Main */
main {
  max-width: 1280px;
  margin: 0 auto;
}

main .main_title {
  margin-bottom: 36px;
  text-align: center;
}

main ul {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

main ul li figure.card {
  box-sizing: border-box;
  background-color: rgb(80, 135, 255);
  border-radius: 12px;
  padding: 1rem;
}

main ul li figure.card .card_header {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

main ul li figure.card .card_header .card_image {
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 12px;
}

main ul li figure.card .card_header .card_image img {
  margin-top: -12px;
}

main ul li figure.card .card_header .card_description {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

main ul li figure.card .card_header .card_description span:last-child {
  color: rgb(212, 212, 216);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main ul li figure.card .card_content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: px;
}

/* Footer */
footer {
  padding: 3rem 1rem;
}

footer section {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

footer section img:first-child,
footer section img:last-child {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  width: 3rem;
}

footer p {
  text-align: center;
  font-size: 14px;
}

/* Responsive Design */
/* Tablet */
@media screen and (min-width: 768px) {
  header figure {
    justify-content: space-between;
  }

  header figure img {
    order: 2;
    width: 12rem;
  }

  header figure figcaption {
    order: 1;
  }

  header figure figcaption span:first-child {
    font-size: 3.75rem;
    line-height: 1;
  }

  header figure figcaption span:last-child {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  main .main_title {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
  }

  main .main_title h2 {
    font-size: 32px;
  }

  main .main_title span {
    font-size: 20px;
  }

  main ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  main ul li figure.card .card_header .card_description span:first-child {
    font-size: 20px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  header figure img {
    width: 14rem;
  }

  main ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
